# https://editorconfig.org/
# Revised 2025-07-23

root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
tab_width = 2      # how wide a tab renders

# Tabs everywhere above already; just change width for these:
[{Makefile,go.mod,go.sum,*.go,.gitmodules,Dockerfile}]
tab_width = 4

# Space-indented formats:
[*.{yml,yaml,json}]
indent_style = space
indent_size  = 2

# Markdown quirks:
[*.md]
trim_trailing_whitespace = false
tab_width = 4
