# https://editorconfig.org/
# Revised 2025-07-23

root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
tab_width = 2      # How wide a tab renders

[{Makefile,go.mod,go.sum,*.go,.gitmodules,Dockerfile}]
tab_width = 4

# Shell scripts:
[*.sh]
indent_style = space
indent_size  = 4

# Markdown:
[*.md]
indent_style = space
indent_size  = 2
trim_trailing_whitespace = false
tab_width = 2

# Space-indented formats:
[*.{yml,yaml,json}]
indent_style = space
indent_size  = 2
