# ---- GENERAL SYSTEM FILES ----
#   macOS files
**/.DS_Store
**/.AppleDouble
**/.LSOverride

#   Windows files
Thumbs.db

# Icon must end with two \r
**/Icon

# Thumbnails
**/._*

# Files that might appear in the root of a volume
**/.DocumentRevisions-V100
**/.fseventsd
**/.Spotlight-V100
**/.TemporaryItems
**/.Trashes
**/.VolumeIcon.icns
**/.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
**/.AppleDB
**/.AppleDesktop
**/Network Trash Folder
**/Temporary Items
**/.apdisk

# ---- VERSION CONTROL SYSTEM FILES ----
# SVN directories
.svn/

# ---- TEMPORARY FILES ----
*.tmp
*.swp
*.swo

# ---- LOGS AND DATABASES ----
*.log
*.sql
*.sqlite

# ---- ENVIRONMENT AND CONFIGURATIONS ----
# Environment variables files
.env
.env.*

# VS Code
.vscode/

# SFTP configuration file
**/sftp-config.json
**/sftp-config-alt*.json
_WIP

# Project Specific
Makefile
_WIP/*
bin/*
!bin/.gitkeep
dist/*
!dist/.gitkeep
doc/nogocomments.1
